In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('2015CountyTypologyCodes.csv')
df.head()

,FIPStxt,State,County_name,"Metro-nonmetro status, 2013 0=Nonmetro 1=Metro",Economic Types Type_2015_Update non-overlapping,Economic_Type_Label,Farming_2015_Update,Mining_2015-Update,Manufacturing_2015_Update,Government_2015_Update,Recreation_2015_Update,Nonspecialized_2015_Update,Low_Education_2015_Update,Low_Employment_Cnty_2008_2012_25_64,Pop_Loss_2010,Retirement_Dest_2015_Update,Persistent_Poverty_2013,Persistent_Related_Child_Poverty_2013
0,1001,AL,Autauga County,1,0,Nonspecialized,0,0,0,0,0,1,0,0,0,1,0,0
1,1003,AL,Baldwin County,1,5,Recreation,0,0,0,0,1,0,0,0,0,1,0,0
2,1005,AL,Barbour County,0,3,Maufacturing,0,0,1,0,0,0,1,1,0,0,1,1
3,1007,AL,Bibb County,1,0,Nonspecialized,0,0,0,0,0,1,1,1,0,0,0,1
4,1009,AL,Blount County,1,0,Nonspecialized,0,0,0,0,0,1,1,1,0,0,0,0

In [3]:
df['County_name'] = df['County_name'].str.title()
df.rename(columns={'County_name':'NAMELSAD'}, inplace=True)
df.head()

,FIPStxt,State,NAMELSAD,"Metro-nonmetro status, 2013 0=Nonmetro 1=Metro",Economic Types Type_2015_Update non-overlapping,Economic_Type_Label,Farming_2015_Update,Mining_2015-Update,Manufacturing_2015_Update,Government_2015_Update,Recreation_2015_Update,Nonspecialized_2015_Update,Low_Education_2015_Update,Low_Employment_Cnty_2008_2012_25_64,Pop_Loss_2010,Retirement_Dest_2015_Update,Persistent_Poverty_2013,Persistent_Related_Child_Poverty_2013
0,1001,AL,Autauga County,1,0,Nonspecialized,0,0,0,0,0,1,0,0,0,1,0,0
1,1003,AL,Baldwin County,1,5,Recreation,0,0,0,0,1,0,0,0,0,1,0,0
2,1005,AL,Barbour County,0,3,Maufacturing,0,0,1,0,0,0,1,1,0,0,1,1
3,1007,AL,Bibb County,1,0,Nonspecialized,0,0,0,0,0,1,1,1,0,0,0,1
4,1009,AL,Blount County,1,0,Nonspecialized,0,0,0,0,0,1,1,1,0,0,0,0

In [4]:
# !pip install geopandas

In [5]:
import geopandas as gpd

counties = gpd.read_file('https://www2.census.gov/geo/tiger/GENZ2020/shp/cb_2020_us_county_5m.zip')
states = gpd.read_file('https://www2.census.gov/geoz/tiger/GENZ2020/shp/cb_2020_us_state_5m.zip')

In [6]:
counties.head()

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,NAMELSAD,STUSPS,STATE_NAME,LSAD,ALAND,AWATER,geometry
0,04,023,00040472,0500000US04023,04023,Santa Cruz,Santa Cruz County,AZ,Arizona,06,3201853240,3068237,"POLYGON ((-111.36692 31.52136, -111.18369 31.5..."
1,12,059,00295735,0500000US12059,12059,Holmes,Holmes County,FL,Florida,06,1240232910,26393540,"POLYGON ((-86.03504 30.99331, -85.99873 30.992..."
2,27,081,00659486,0500000US27081,27081,Lincoln,Lincoln County,MN,Minnesota,06,1390265112,30167787,"POLYGON ((-96.45277 44.19689, -96.45267 44.254..."
3,30,029,01719611,0500000US30029,30029,Flathead,Flathead County,MT,Montana,06,13175844498,437162491,"POLYGON ((-115.02008 48.22595, -114.84810 48.2..."
4,31,135,00835889,0500000US31135,31135,Perkins,Perkins County,NE,Nebraska,06,2287768800,2840176,"POLYGON ((-102.05176 41.00387, -102.03317 41.0..."

In [7]:
df = counties.merge(df, on='NAMELSAD')
df.head()

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,NAMELSAD,STUSPS,STATE_NAME,LSAD,...,Manufacturing_2015_Update,Government_2015_Update,Recreation_2015_Update,Nonspecialized_2015_Update,Low_Education_2015_Update,Low_Employment_Cnty_2008_2012_25_64,Pop_Loss_2010,Retirement_Dest_2015_Update,Persistent_Poverty_2013,Persistent_Related_Child_Poverty_2013
0,04,023,00040472,0500000US04023,04023,Santa Cruz,Santa Cruz County,AZ,Arizona,06,...,0,1,0,0,1,1,0,1,0,1
1,04,023,00040472,0500000US04023,04023,Santa Cruz,Santa Cruz County,AZ,Arizona,06,...,0,0,1,0,0,0,0,0,0,0
2,06,087,00277308,0500000US06087,06087,Santa Cruz,Santa Cruz County,CA,California,06,...,0,1,0,0,1,1,0,1,0,1
3,06,087,00277308,0500000US06087,06087,Santa Cruz,Santa Cruz County,CA,California,06,...,0,0,1,0,0,0,0,0,0,0
4,12,059,00295735,0500000US12059,12059,Holmes,Holmes County,FL,Florida,06,...,0,1,0,0,1,1,0,1,0,1

In [8]:
df1 = df[['NAME','NAMELSAD','Low_Education_2015_Update','geometry']]
df1.head()

,NAME,NAMELSAD,Low_Education_2015_Update,geometry
0,Santa Cruz,Santa Cruz County,1,"POLYGON ((-111.36692 31.52136, -111.18369 31.5..."
1,Santa Cruz,Santa Cruz County,0,"POLYGON ((-111.36692 31.52136, -111.18369 31.5..."
2,Santa Cruz,Santa Cruz County,1,"POLYGON ((-122.31768 37.18695, -122.24266 37.1..."
3,Santa Cruz,Santa Cruz County,0,"POLYGON ((-122.31768 37.18695, -122.24266 37.1..."
4,Holmes,Holmes County,1,"POLYGON ((-86.03504 30.99331, -85.99873 30.992..."

In [9]:
# df.info()

In [10]:
df['Low_Education_2015_Update'] = df['Low_Education_2015_Update'].map(str)

In [11]:
df1.to_file('types.geojson', driver='GeoJSON')